h1
	color #ff0000
body
	color #0000ff
.red
	color red	
li.borderless
	border none
li.topmargin
	margin 10px 0	
.navbar-default
	background-color #2ecc71
	border-color #fff
	color #fff
.navbar-default .navbar-nav > .dropdown > a .caret
	border-top-color #fff
    border-bottom-color #fff
navbar-default .navbar-nav > .open > a
	color #fff
	background-color #2ecc71
ul.nav.navbar-nav >  li >a
	color #fff
.navbar-default .navbar-brand
	color #fff
.navbar-collapse
	text-align center
.usernameSpan
	color white
	font-size 24px
#content
	margin-top 50px
.navbar-form
	text-align center
	float center
	width 100%
	position absolute
nav
	height 50px	