.liked
  color #0000ff
.not-liked
  color #888

	display table-cell
.list-group
	overflow-x hidden
	overflow-y hidden
.horizontal-list > .horizontal-list-item
	width 45%
	
	display inline-block
	display -moz-inline-block
	zoom 1
hr
	margin-top 0.5
	margin-bottom 0.5	
.horizontal-list > .commenttxt
	width 85%
.horizontal-list > .commentbtn
	width 15%	
a > i.fa-rotate-45
	-webkit-transform rotate(45deg)
	-moz-transform rotate(45deg)
	-ms-transform rotate(45deg)
	-o-transform rotate(45deg)
	transform rotate(45deg)
	font-size 24px
	text-align center
	vertical-align bottom
	margin-bottom 5
textarea
	resize none
	overflow hidden
.commentsList
	max-height 100px
	overflow-y scroll
pre
	border 0
	background-color transparent
	margin 0
	white-space pre-wrap

li > .list-group-item
	margin-top 0
	margin-bottom 0