<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

 <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
 <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js'></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <link type="text/css" rel="stylesheet" href="/angular-flash.min.css" />
  <script src="/angular-flash.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  
  <script src="/app.js"></script>
  <title>Eiger</title>
  <link rel="stylesheet" href="/app.css">
</head>
<body ng-app='app'  ng-controller='ApplicationCtrl'>

<nav class='navbar navbar-default navbar-fixed-top'  role="navigation">
  <div class='container-fluid'>
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand " href='#'>Posts</a>
    </div>
  <div class="collapse navbar-collapse" id='navigationbar'>
    <ul class='nav navbar-nav'>
      <li><a class='posts' href="/#/">Posts</a></li>
      </ul>
    <form class="navbar-form ">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search">
    <span class="input-group-addon">
      <i class="fa fa-search"></i>
    </span>

  </div>
</form>
<ul class="nav navbar-nav navbar-right">
<li ng-hide='currentUser'><a class='register' href="/#/register"> <span class="fa fa-user"></span>Sign Up</a></li>
<li ng-hide='currentUser'><a class='login' href="/#/login"><span class="fa fa-sign-in"></span>Login</a></li>
  </ul>

 <!-- <form class=" form-inline  col-lg-offset-3">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button> -->
 
    <div ng-if='currentUser' class='navbar-text navbar-right '>
    <span class='usernameSpan'>{{currentUser.username}}</span>
    </div>
    <div ng-if='currentUser' class='navbar-text navbar-right '>
    <input class="btn btn-info btn-sm" type="button" name="logout" value="logout" ng-click='logout()'>
    </div>
	
	<!-- </form> -->
	 
  </div> <!-- nav bar collapse-->
  </div> <!-- container-->
</nav>

<div ng-view id="content"></div>
 
   
</body>
</html>