<div class="container" ng-init='getProfile()'>

<div class="col-xs-12  col-sm-12 col-lg-6 col-md-6 col-xs-offset-0 col-sm-offset-0 col-lg-offset-3 col-md-offset-3" >
<div class="page-header"><h1>{{profile_username}}</h1></div>
<div class=" col-md-9 col-lg-9 "> 
<table class="table">
	<tbody>
		<tr>
			<td>Tower </td>
			<td></td>
		</tr>
		<tr>
			<td>Mobile </td>
			<td>{{profile_mobile}} </td>
		</tr>
		<tr>
			<td>Email </td>
			<td>{{profile_email}} </td>
		</tr>
		<tr>
			<td>D.O.B </td>
			<td>{{profile_dob | date:'dd-MMM-yyyy'}}</td>
		</tr>
		<tr>
			<td>Apps </td>
			<td></td>
		</tr>
		<tr>
			<td>Primary </td>
			<td>{{profile_primaryApps}} </td>
		</tr>
		<tr>
			<td>Secondary </td>
			<td>{{profile_secondaryApps}} </td>
		</tr>
	</tbody>
</table>
</div>
<!--<div class="row">
<div class="col-md-4 col-lg-4"><span>Tower </span></div>
<div class="col-md-4 col-lg-4"><span>{{profile_tower}}</span></div>
</div>
<div class="row">
<div class="col-md-4 col-lg-4"><span>Team </span></div>
<div class="col-md-4 col-lg-4"><span>{{profile_team}}</span></div>
</div>
<div class="row">
<div class="col-md-4 col-lg-4"><span>Mobile </span></div>
<div class="col-md-4 col-lg-4"><span>{{profile_mobile}}</span></div>
</div>
<div class="row">
<div class="col-md-4 col-lg-4"><span>Email </span></div>
<div class="col-md-4 col-lg-4"><span>{{profile_email}}</span></div>
</div>
<div class="row">
<div class="col-md-4 col-lg-4"><span>D.O.B </span></div>
<div class="col-md-4 col-lg-4"><span>{{profile_dob}}</span></div>
</div>

<div class="row">
<div class="col-md-4 col-lg-4"><span>Apps </span></div>
</div>
<div class="row">
<div class="col-md-4 col-lg-4"><span>Primary </span></div>
<div class="col-md-4 col-lg-4"><span>{{profile_primaryApps}}</span></div>
</div>
<div class="row">
<div class="col-md-4 col-lg-4"><span>Secondary </span></div>
<div class="col-md-4 col-lg-4"><span>{{profile_secondaryApps}}</span></div>
</div>
-->

</div>
</div>