 <link rel="stylesheet" href="/posts.css">
 <div class='container'>

 <div class='col-lg-8 col-lg-offset-2' >
    <h1 class="red">Recent Posts</h1>
    <form role='form'>
      <fieldset class="input-group-vertical">
      <div class='form-group'>
        <!--<textarea ng-model='postBody' ng-keyup='auto_grow(this)' class="form-control custom-control" rows="2" style="resize:none"></textarea>     -->
         <textarea ng-model='postBody'  class="form-control custom-control" rows="3" style="resize:none"></textarea>       
        </div>
          
          <div class='input-group'>
          <span class='input-group-btn'>
          <button ng-click='addPhoto()' id='addPhoto' class='btn btn-success form-control' ng-disabled='!currentUser'> Add Photo</button>
          </span>
          <span class='input-group-btn'>
            <button ng-click='addPost()' id='addPost' class='btn btn-success form-control' ng-disabled='!currentUser'>Add Post</button>
          </span>
        </div>
        
        </fieldset>
      </form>

    <ul class='list-group'>
      <li ng-repeat="post in posts | orderBy:'-date'" class='list-group-item  topmargin'  >
        <postitem postdata='{{post}}'></postitem>
      </li>

    </ul>
  </div>
  </div>