 <link rel="stylesheet" href="/posts.css">
 <script type='text/javascript' src='/ng-infinite-scroll.min.js'></script>
 <div class='container'>

 <div class='col-lg-8 col-lg-offset-2' >
    <h1 class="red"></h1>
    <form role='form'>
      <fieldset class="input-group-vertical">

      
      <div class='form-group'>
        <!--<textarea ng-model='postBody' ng-keyup='auto_grow(this)' class="form-control custom-control" rows="2" style="resize:none"></textarea>     -->
         <textarea ng-model='postBody'  class="form-control custom-control" rows="3" style="resize:none"></textarea>       
        </div>
          
  <button ng-click='addPost()' id='addPost' class='btn btn-success pull-right' ng-disabled='!currentUser'>Add Post</button>
          
        </fieldset>
      </form>

    <ul class='list-group' ng-hide='!currentUser'>
    <div infinite-scroll="loadMorePosts()" infinite-scroll-distance="3">
      <li ng-repeat="post in posts | orderBy:'-date'" class='list-group-item  topmargin'  >
        <postitem postdata='{{post}}'></postitem>
      </li>
</div>
    </ul>
  </div>
  </div>