<div class="container">
<div class='col-lg-8 col-lg-offset-2' >
  <form ng-submit="login(username, password)" novalidate="">
    <div class="form-group" >
      <label>Username</label>
      <input class="form-control" type="text" ng-model="username" >
    </div>
    
    <span class='input-group-btn'>
    <input class="btn btn-success btn-lg btn-block" type="submit" value="Send Verification code">
    </span>
    <span class='input-group-btn'>
    <input class="btn btn-success btn-lg btn-block" type="submit" value="Cancel">
    </span>
</div>
  </form>
  </div>
</div>